<div class="burger-menu">
    <span class="burger-menu__btn"></span>
</div>
<div id="bur" class="burger-menu--h">
    <div class="burger-menu__header">
        <img class="burger-menu__img" src="assets/images/Rectangle.jpg">
        <div class="burger-menu__item">
            <div class="burger-menu__avatar">
                <img class="burger-menu__avatar-img" src="assets/images/test.png">
            </div>
            <div class="burger-menu__avatar-info">
                <h3 class="burger-menu__avatar-name">Мухаммад Алимирзаев</h3>
                <p class="burger-menu__avatar-text">Блог Front-End разработчика</p>
            </div>
        </div>
        <span class="burger-menu__under-line"></span>
    </div>
    <div class="burger-menu__links-item">
        <div class="burger-menu__link burger-menu__link-drop">Статьи
            <a class="burger-menu__link burger-menu__link--v">Создание сайтов</a>
            <a class="burger-menu__link burger-menu__link--v">Интернет-маркетинг</a>
            <a class="burger-menu__link burger-menu__link--v">Продвижение видео</a>
        </div>
        <a class="burger-menu__link">Обо мне</a>
        <a class="burger-menu__link">Реклама</a>
        <a class="burger-menu__link">Профиль</a>
    </div>
    <div class="burger-menu__footer">
        <div class="sadibar__main--buttons">
            <button class="red">Мои работы</button>
            <button class="blue">Написать мне</button>
        </div>
    </div>
    
</div>