<div class="profile">
    <h1 class="profile__title">Профиль</h1>
    <div class="profile__arey">
        <form class="profile__form">
            <input id="name" type="text" placeholder="Ведите имя" class="input profile__input-name">
            <input id="email" type="email" placeholder="Ведите email " class="input profile__input-email">
            <input id="new-password" type="password" placeholder="Новый пароль" class="input profile__input-new-password">
            <input id="conf-password" type="password" placeholder="Подтвердите пароль" class="input profile__input-conf-password">
        </form>
        <div class="profile__item">
            <img src="/assets/images/avatar.png" alt="" class="profile__avatar">
            <input  id="profile__input-img-link" type="file" class="profile__input-img-link">
        </div>
       
    </div> 
    <button  class="profile-btn profile-btn--save ">Сохранить</button>
</div>