<div class="stories__items__areya">
    <div class="stories__item">
        <img src="/assets/images/glav_1.jpg" class="stories__item__img">
        <div class="stories__item__info">
            <p class="stories__item__title">Отдыхаю на природе</p>
            <time class="stories__item__time">21.09.2020</time>
        </div>
    </div>
    <div class="stories__item">
        <img src="/assets/images/programing.jpg" class="stories__item__img">
        <div class="stories__item__info">
            <p class="stories__item__title">Заканчиваю сложный проект</p>
            <time class="stories__item__time">15.09.2020</time>
        </div>
    </div>
    <div class="stories__item">
        <img src="/assets/images/flathome.jpg" class="stories__item__img">
        <div class="stories__item__info">
            <p class="stories__item__title">Переехал в новую квартиру</p>
            <time class="stories__item__time">11.09.2020</time>
        </div>
    </div>
     <div class="stories__item">
        <img src="/assets/images/glav_1.jpg" class="stories__item__img">
        <div class="stories__item__info">
            <p class="stories__item__title">Осень пришла!</p>
            <time class="stories__item__time">28.08.2020</time>
        </div>
    </div>
</div>

