<div class="works">
    <div class="works__content">
        <h2 class="works__title">Мои работы</h2>
        <div class="works-item">
            <div class="works-item__left-item">
                <img src="/assets/images/works-img1.jpg" alt="" class="left-item__img">
            </div>
            <div class="works-item__right-item">
                <h3 class="right-item__name">altermono.com</h3>
                <p class="right-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                     Nesciunt dolorem dolorum, facere quos aspernatur ab similique facilis commodi dolor
                      optio magni earum sit vel praesentium reiciendis modi? Rem, impedit fugiat.
                </p>
                <div class="right-item__tags">
                    <p class="work-tag">дизайн</p>
                    <p class="work-tag">создание сайтов</p>
                    <p class="work-tag">SMM</p>
                </div>
                <div class="right-item__btn-item">
                    <button class="go-site-btn">Перейти на сайт</button>
                </div>
            </div>
        </div>
        <div class="works-item">
            <div class="works-item__left-item">
                <img src="/assets/images/work-img2.jpg" alt="" class="left-item__img">
            </div>
            <div class="works-item__right-item">
                <h3 class="right-item__name">codedoco.com</h3>
                <p class="right-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                     Nesciunt dolorem dolorum, facere quos aspernatur ab similique facilis commodi dolor
                      optio magni earum sit vel praesentium reiciendis modi? Rem, impedit fugiat.
                </p>
                <div class="right-item__tags">
                    <p class="work-tag">дизайн</p>
                    <p class="work-tag">создание сайтов</p>
                    <p class="work-tag">SMM</p>
                </div>
                <div class="right-item__btn-item">
                    <button class="go-site-btn">Перейти на сайт</button>
                </div>
            </div>
        </div>
    </div>
</div>
