
body{
    display: flex;
    justify-content: center;
}
.container{
    width: 600px; 
 }
.post {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
    background: #2a2a2a;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.post__content {
    padding: 25px;
}

.post__title {
    font-size: 18px;
    font-weight: normal;
    font-family: "Roboto";
    margin-bottom: 15px;
}
.post__image{
    width: 100px;
    height: 100px;

}
.post__text {
    font-size: 14px;
    color: #D2D2D2;
    line-height: 21px;
    margin-bottom: 20px;
}

.post__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.post__time {
    font-family: "Lato";
    font-size: 14px;
    color: #828282;
    margin-right: 20px;
}

.post__tag {
    font-size: 14px;
    color: #828282;
    cursor: pointer;
}

.post__tag::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-bottom: 1px;
    background: rebeccapurple;
    margin-right: 10px;
}

.post__link {
    color: blue;
    cursor: pointer;
    margin-left: auto;
}

.post__link:hover {
    text-decoration: underline;
}
